.movie-card {
  width: 18rem;
  scroll-snap-align: center;
  // background-color: aqua;
  flex-shrink: 0;
  img {
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 500px) {
  .movie-card {
    width: 15.3rem;
    height: 8.5rem;
  }
}
@media (min-width: 768px) {
  .movie-card {
    width: 22.4rem;
    height: 12.6rem;
  }
}
