@font-face {
  font-family: "Netflix Sans";
  src: url("../../static/fonts/NetflixSans-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("../../static/fonts/NetflixSans-Light.woff2");
  font-weight: lighter;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("../../static/fonts/NetflixSans-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("../../static/fonts/NetflixSans-Bold.woff2");
  font-weight: bold;
}
