@use "./typography";
// @font-face {
//   font-family: "Netflix Sans";
//   src: url("../../static/fonts/NetflixSans-Regular.woff2");
// }

$primary-font: "Netflix Sans";

$primary-color: #e50914;
$accent-color: #0071eb;
$accent2-color: #333333;
