@use "/src/sass/abstracts/variables" as v;

.btn {
  border: 0;
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  color: white;
  position: relative;
  font-family: v.$primary-font;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // font-weight: bolder;

  &__icon {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    // position: absolute;
    // top: 0px;
    // clear: both;
  }
  &--primary {
    background-color: v.$primary-color;
  }
  &--link {
    background-color: transparent;
    color: v.$accent-color;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 1.44rem;
    white-space: nowrap;
    .btn__icon {
      fill: v.$accent-color;
      width: 2rem;
      height: 2rem;
      // top: 0;
      // background-color: yellow;
      // filter: "brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg)";
    }
  }

  &--get-started {
    padding: 1rem 1.6rem;
    font-size: 1.6rem;
    gap: 0.5rem;

    .btn__icon {
      width: 1.4rem;
      // top: 0;
      // background-color: yellow;
      // filter: "brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg)";
    }
  }
}

// @media (min-width: 500px) {
//   .btn {
//     font-size: 1.4rem;
//     padding: 0.7rem 0.8rem;
//   }
// }
