@use "/src/sass/abstracts/abstractsEntryPoint" as e;

.browse-page {
  background-color: e.$accent3-color;
  max-width: 100%;
  overflow-x: hidden;
  // overflow: hidden;
  // width: 100%;
  // position: relative;
  // height: 100vh;
  // padding: 1rem 2rem 0;

  &__movies {
    position: relative;
    width: 100%;
    // top: -100px;
    // top: -100px;
    // transform: translateY(-3rem);
    // top: 50%;
    z-index: 10;
    border: 1px red;
  }
}
// * {
//   outline: 1px solid #f00 !important;
// }
@media (min-width: 1400px) {
  .browse-page {
    &__movies {
      bottom: 120px;
      // margin-top: -30rem;
      // transform: translateY(-3rem);
    }
  }
}
@media (min-width: 1920px) {
  .browse-page {
    &__movies {
      bottom: 290px;
      // margin-top: -30rem;
      // transform: translateY(-3rem);
    }
  }
}
