@use "/src/sass/abstracts/abstractsEntryPoint" as e;
.registration-form {
  @extend .signup__outlet;
  color: e.$accent2-color;
  padding: 4rem 3rem 16rem;
  max-width: 50rem;
  margin-inline: auto;

  &__title {
    font-size: 3.2rem;
    font-weight: 500;
  }
  &__head {
    margin-bottom: 3rem;
  }
  &__text-row {
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  form {
    .text-input {
      margin-bottom: 3rem;
      border: 1px solid rgba(e.$accent2-color, 0.7);
    }
  }
}
