.basic-header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-inline: 2rem;
  position: relative;
  margin-inline: auto;
  height: 4.5rem;

  &__logo {
    width: 8.8rem;
    height: 2.4rem;
    // margin: 10rem;
  }

  &--white {
    margin: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    padding: 2rem;
    align-items: center;
    &__logo {
      width: 7.5rem;
    }

    .btn {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}

@media (min-width: 500px) {
  .basic-header {
    .btn {
      padding: 0.7rem 0.8rem;
      font-size: 1.44rem;
    }
  }
}

@media (min-width: 550px) {
  .basic-header {
    // padding-inline: 5rem;
    .btn {
      padding: 1.6rem 1.7rem;
      font-size: 1.6rem;
    }
    &__logo {
      width: 10.8rem;
      height: 3.2rem;
    }
  }
}

@media (min-width: 768px) {
  .basic-header {
    &--white {
      height: 7.5rem;
      &__logo {
        width: 16.7rem;
        height: 4.5rem;
      }

      .btn {
        font-size: 1.9rem;
        font-weight: 500;
      }
    }
  }
}

@media (min-width: 1024px) {
  .basic-header {
    &--white {
      height: 9rem;
    }
    // &__logo {
    //   width: 16.7rem;
    //   height: 4.5rem;
    // }

    // .btn {
    //   font-size: 1.9rem;
    //   font-weight: 500;
    // }
  }
}

@media (min-width: 1450px) {
  .basic-header {
    padding-inline: 7rem;

    &__logo {
      width: 16.7rem;
      height: 4.5rem;
    }
  }
}
