.list-item-icon {
  display: flex;
  gap: 1rem;
  font-size: 1.8rem;
  // &__icon {
  //   // position: relative;
  //   // top: 7px;
  //   // margin-right: 5px;
  // }
  // &__txt {
  //   // display: inline-block;
  // }
}
